
.StoryModuleTextGallery  {
  .slick-slider{
    position: relative;
    background: green;
  }
  .slick-track{
    position: absolute;

  }
  .slick-slide{
    position: relative;
    display: inline-block;
  }

  .slick-arrow{
    display: none !important;
  }
  ul.slick-dots{
    padding-left: 50px;
    position: absolute;
    top: -50px;
    li{
      display: inline-block;
    }
  }
  .slick-list{
    height: 100%;
    width: 100%;
    overflow:hidden;
  }
}

.StoryModuleTextGallery_sliderWrapper{
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.StoryModuleTextGalleryItem_caption{
  cursor: pointer;
  span{
    text-decoration: underline;
  }
}


.StoryBackgroundModules{
  position: fixed;
  // background: var(--accent);
  top: 0;
  bottom: 0;
  z-index: 0;
  left: 0;
  right: 0;
  will-change: opacity;
  transition: opacity  0.6s cubic-bezier(0.83, 0, 0.17, 1);
}

.StoryModuleText .TextContent_textQuotation{
  font-size: 1.65rem;
}

.StoryModule_num{
  position: absolute;
  left: -1.7rem;
  top: 1rem;;
  border: 2px solid;
  font-weight: bold;
  width: 2rem;
  height: 2rem;
  line-height: 1.7rem;
  border-radius: 1rem;
  text-align: center;

}

.StoryModule.active .StoryModule_num{
  background-color: var(--dark);
  color: var(--white);
  border-color: var(--dark);
}
