.DocumentDetail_close {
  z-index: 1002;
  position: fixed;
  color: var(--white);
  left: 1.5rem;
  top: 1.5rem;
  cursor: pointer;
  &:hover,
  &:active,
  &:visited {
    color: var(--celadon-green);
    text-decoration: none;
  }
}
