// Override variables:
// https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss
// following doc
// https://getbootstrap.com/docs/4.5/getting-started/theming/
$theme-colors: (
  'dark': #121821,
  'primary': #1F7E77,
  'secondary': #95B1B5,
  'gray': #ffeacc,
  'accent': #F95421,
);

$font-size-base: 1.2rem;
$line-height-base: 1.75;
