
body.themeStaticPage, body.themeDocumentDetail {
  color: var(--white);
  background-color: var(--dark);
  a{
    color: var(--white);
    text-decoration: underline;
  }
  .Header_HeaderLink {
    color: var(--white);
    text-decoration: none;
    &.active{
      color: var(--dark);
      background-color: var(--white);
    }
  }
  .Footer {
    position: relative;
    .nav a{
      color: var(--white);
      text-decoration: none;
      border-radius: 1rem;
    }
    .nav a.active{
      background-color: var(--white);
      color: var(--dark);
    }
  }
}

body.themeHome, body.themeStory{
  color: var(--dark);
  background-color: var(--white);
  .Header_HeaderLink {
    color: var(--dark);
    &.active{
      color: var(--white);
      background-color: var(--accent);
    }
  }
}

body.themeCollection{
  color: var(--white);
  background-color: var(--primary);
  .Header_HeaderLink {
    color: var(--white);
    &.active{
      color: var(--white);
      background-color: var(--dark);
    }
  }
  .Footer {
    color: var(--white);
    a{
      color: var(--white);
      text-decoration: underline;
    }
    .nav a{
      color: var(--white);
      text-decoration: none;
      border-radius: 1rem;
    }
  }
  .btn-link{
    color: var(--white);
  }
}

body.themeCollection input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--white);
  opacity: 1; /* Firefox */
}

body.themeCollection input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--white);
}

body.themeCollection input::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--white);
}

body.themeHome .Footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  left:0;
}

body.themeStory .Footer{
  a, .nav a{
    color: var(--accent);
  }
  .nav a{
    color: var(--accent);
    text-decoration: none;
    border-radius: 1rem;
  }
  .nav a.active{
    background-color: var(--white);
    color: var(--dark);
  }
}
